<!DOCTYPE html> 

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png" >
        <link rel="stylesheet" href = '/css/style.css'>
    </head>
    <body>
     <div class="main-content"> 
 {{>header}} 
 <ul>
     <li>
         <p>Link to GitHub repo <a href="https://github.com/SirajYusuf/node3-weather-webserver" target="_blank" >"Weather-app"</a></p>    
     </li>
     <li>
         <p>languages used: Javascript, Handlebars, CSS, HTML</p>
     </li>
 </ul>
     </div>
       
        {{>footer}}
    
</html>